body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* Keep it in the background */
  /* pointer-events: none; */
  /* Prevent interaction */
}

.landscape {
  display: none;
  /* Disable the landscape image */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.confetti-piece {
  position: absolute;
  /* border-radius: 50%; */
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Add this to your global CSS or a specific CSS file */

@keyframes thruster {
  0% {
    opacity: 1;
    transform: scaleY(0.5) scaleX(0.5) translateY(0);
  }

  50% {
    opacity: 1;
    transform: scaleY(1.5) scaleX(1.2) translateY(10px);
  }

  100% {
    opacity: 0;
    transform: scaleY(2) scaleX(1.5) translateY(20px);
  }
}

.rocket-thruster {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 40px;
  background: radial-gradient(circle at 50% 20%, #ffae00, #ff3300);
  border-radius: 50%;
  animation: thruster 0.5s ease-out infinite;
}
